html {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: Libertinus Serif, Times New Roman, serif;
}

body {
  min-height: 100%;
  text-align: justify;
  max-width: 1024px;
  margin: auto;
  padding: 0.5rem;
  color: #ffffff;
  background-color: #000000;
}

@media only screen and (min-width: 600px) {
  body {
    padding: 2rem;
  }
}

a:link {
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover {
  border-bottom: 1px solid;
}

q::before {
  content: "«\00a0"
}
q::after{
  content: "\00a0»"
}

h1 {
  font-size: xxx-large;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: large;
  margin-top: 3rem;
  text-align: center;
  font-variant: small-caps;
  width: 100%;
  border-bottom: 1px solid black;
}

h3 {
  font-size: large;
  margin-top: 3rem;
  border-bottom: 3px solid white;
  font-variant: small-caps;
  width: 100%;
}

mark {
  font-style: italic;
  background-color: transparent;
  color: inherit;
  font-weight: bold;
}

strong {
  font-variant: small-caps;
}

aside {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
  color: #29627e;
  border: 1px solid black;
}

aside h1 {
  font-family: inherit;
  font-variant: small-caps;
  font-size: large;
  margin: 2rem 0 0 0;
  /*color: #19526e;*/
}

aside blockquote:after {
  content: "\00a0»"
}
aside blockquote:before {
  content: "«\00a0"
}

@media only screen and (min-width: 1024px) {
  aside {
    width: 50%;
    float: right;
    margin-right: 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Bottom navigation */
nav {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid black;
}
nav ul {
  margin: 0;
  padding: 0;
  line-height: 2rem;
}
nav li {
  padding: 1rem;
  display: inline;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
